<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rzeczpospolita Obojga Narodów</title>
    <link rel="stylesheet" href="styles/index.css"/>
    <link rel="stylesheet" href="cssframeworks/bulma.min.css"/>
    <link rel="styles" href="cssframeworks/bootstrap.min.css"/>
</head>
<body>
    <div class="mainWrapper">
        <div class="left">
            <a><button id="b1">Polska i Litwa po unii w Krewie</button></a>
            <a><button id="b2">Unia Lubelska</button></a>
            <a><button id="b6">Postanowienia Unii Lubelskiej</button></a>
            <a><button id="b7">Rzeczpospolita Obojga Narodów</button></a>
            <a><button id="b8">Sąsiedzi Rzeczypospolitej w XVIII wieku</button></a>
            <a><button id="b9">Kryzys Rzeczypospolitej w XVII i XVIII wieku</button></a>
            <a><button id="b10">Pierwszy rozbiór Polski 1772 roku</button></a>
            <a><button id="b3">Sejm rozbiorowy w 1773 roku</button></a>
            <a><button id="b4">Drugi rozbiór Polski</button></a>
            <a><button id="b5">Rzeczpospolita przestaje istnieć</button></a>
        </div>
        <div class="right">
            <h1>Polska i Litwa po unii w Krewie</h1>
            <div class="content">
                <article>W 1385roku Polska i Litwa podpisały układ w Krewie. Od tego czasu oba kraje pozostawały w unii personalnej – czyli miały wspólnego władcę. Na tronie polskim i litewskim zasiadali władcy wywodzący się z dynastii Jagiellonów. Oba państwa zachowały odrębne urzędy i instytucje państwowe. Szlachta litewska z zazdrością spoglądała na przywileje szlachty polskiej. Jednak najmożniejsi panowie litewscy niechętni byli ściślejszej unii, ponieważ obawiali się utraty pozycji na Litwie. Oni rządzili księstwem, gdy król przebywał w Polsce.</article>
                <img src="im/k1.jpg" />
            </div>
        </div>
    </div>
    <script src="./scripts/views.js"></script>
</body>
</html>